

<h2>= @article.title </h2>
<p>= @article.description </p>
<br>

<h2>Title: = @article["title"] </h2>
<p>Link: = @article["link"] </p>
<p>Description: = @article["description"] </p>
<p>GUID: = @article["guid"] </p>
<p>XCoor: = @article["xcoor"] </p>
<p>YCoor: = @article["ycoor"] </p>

<p>= link_to("See full article", @article.guid, :target => "_blank") 
