<div id="map"></div>
<style>
  body { margin:0; padding:0; }
  #box { background-color: red; height: 350px; width: 750px; margin:auto; }
  #map { height:100%; }
</style>
<script>
L.mapbox.accessToken = 'pk.eyJ1IjoibmJ1bWJhcmciLCJhIjoiN3piWUR1YyJ9.GlBZSAdYrbcHY_vzIrinvw';
var map = L.mapbox.map('map', 'examples.map-i86nkdio')
var myLayer = L.mapbox.featureLayer().addTo(map);
var features = [];
<% @articles[0..12].each do |article| %>
features.push({
  type: 'Feature',
  geometry: {
    type: 'Point',
    coordinates: [<%= article.ycoor %>,<%= article.xcoor %>]
    },
  properties: {
    title: '<%= article.title %>',
    description: '<%= article.description %>',
    'marker-color': '#000',
    'marker-symbol': 'star-stroked',
    }
});
<% end %>
myLayer.setGeoJSON({
    type: 'FeatureCollection',
    features: features
});
map.setView([41, -75], 6)
</script>
